<%= form_for @to_do, :html => {:class => "form-inline"} do |f| %>
  <% if @to_do.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@to_do.errors.count, "error") %> prohibited this to_do from being saved:</h2>

    <ul>
    <% @to_do.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :due_on %>
  <%= f.date_field :due_on, class: 'form-control' %>
</div>

<div class="checkbox">
  <%= f.check_box :complete%> Check when this item is complete
</div>

<br><br>

<div class="form-group">
    <%= f.submit "Save Task", class: "btn btn-default"%>
</div>

<% end %>
<br>
