<h3> My To-Do List </h3>
<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Content</th>
      <th>Complete?</th>
      <th>Due On</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody >
    <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.order %></td>
      <td><%= todo.content %></td>
      <td><%= todo.complete %></td>
      <td><%= todo.due_on %></td>
      <td><%= link_to 'Edit', edit_to_do_path(todo), class: "button tiny" %></td>
      <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to "New To-Do Item", new_to_do_path %></p>
